@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */



*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@include scrollbars(1rem, $color-1); 
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;

}

html, body {
	height: 100%;
}


a {
	color: $color-2;
	text-decoration: none;
}


canvas{
  display:block;
  position: absolute;
  vertical-align:bottom;
}

/* -------------------------------- 

  Enterence

-------------------------------- */

.jumbotron{
  height:100%;

  @include linearGradient(-45deg, $color-2 ,lighten($color-2,15%));

  & img{
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.3;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    animation-name:imageanimation;
    animation-iteration-count: infinite;
    animation-duration: 180s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

}

.jumbotron-text{
  padding-left: 10%;
  position: absolute;
  bottom: -10%;
  z-index:15;
}

.jumbotron h1{
  
}



#particles-js{
  width: 100%;
  height: 100%;
  z-index: 30;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}



.skew-box{
  @include transform(skewY(-15deg));
  background-size: cover;
  background-color: $white;
  height:100%;
  width: 100%;
  position: fixed;
  bottom: 50%;
  @include backface-visibility(hidden);
  overflow: hidden;
  z-index: 10;

}

@keyframes imageanimation {
    0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(-8500px);
    }
}

.skew-content{
  @include transform(skewY(15deg));
  color: $white;
  height: 100%; 
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */

.cd-btn {
	flex: 1;
	padding: 1.6em 2.4em;
	font-size: 1.4rem;
	letter-spacing: .15em;	
	
	font-weight: 700;
	text-transform: uppercase;
	background-color: $color-2;
	box-shadow: 0 0px 30px rgba(0, 0, 0, .0);
	@include font-smoothing;
	@include transition(all .3s);

	display: flex;
	align-items: center;
	flex-direction: row;
	opacity: .9;

	

	.no-touch &:hover {
		box-shadow: 0 0px 30px rgba(0, 0, 0, .6);
	}


	&:nth-of-type(1){
    	/*background-image: url(../img/img-1.jpg);*/
    	@include linearGradient(33deg, darken(#CB0076, 10%), #CB0076); 
	    	
	    	&:before{
	    	background-image: url(../img/logo/tsa_logo.svg);
	    	content: " ";
	    	width:200px;
	    	height: 75px;
    		background-size: contain;
    		color: $white;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
	    }
    }

    &:nth-of-type(2){
		/*background-image: url(../img/img-2.jpg);*/
    	@include linearGradient(33deg, #3B6E98, darken(#3B6E98, 20%));

    		&:before{
	    	background-image: url(../img/logo/meridian_logo_rev.svg);
	    	content: " ";
	    	width:200px;
	    	height: 30px;
	    	color: $white;
    		background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
	    }
    }

    &:nth-of-type(3){
    	/*background-image: url(../img/img-3.jpg);*/
    	@include linearGradient(33deg, darken(#F15060, 20%), #F15060);

    		&:before{
	    	background-image: url(../img/logo/cundari_rev.svg);
	    	content: " ";
	    	width:200px;
	    	height: 40px;
	    	color: $white;
    		background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
	    }
    }

    &:nth-of-type(4){
		/*background-image: url(../img/img-1.jpg);*/
    	@include linearGradient(33deg, #FFffee, #FFffdd);

    		&:before{
	    	background-image: url(../img/logo/jamieson_logo.svg);
	    	content: " ";
	    	width:200px;
	    	height: 50px;
	    	color: $color-3;
    		background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
	    }
	    h5{
	    	color: $color-3;
	    }
    }

    &:nth-of-type(5){
		/*background-image: url(../img/img-2.jpg);*/
    	@include linearGradient(33deg, #3B6E98, darken(#3B6E98, 20%));

    		&:before{
	    	background-image: url(../img/logo/meridian_logo_rev.svg);
	    	content: " ";
	    	width:200px;
	    	height: 30px;
	    	color: $white;
    		background-size: contain;
		    position: relative;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
	    }
    } 

    &:hover{
    	flex-grow: 2;	
    	opacity: 1.0;
    	color: $white;
    }

    h5{
    	opacity: 0;
    	@include transition(all 2s);
    	transform: translateX(75px);
    	color: $white;
    }

    &:hover h5{
    	opacity: 1;
    	transform: translateX(0px);
    }

    
}

.cd-btn-logo{
	display: flex;
	align-items: center;
}

/* -------------------------------- 

Typography

-------------------------------- */

h1 {
	font: {
  	size: 4rem;
  	weight: 400;
  	family: $secondary-font;
  	style: normal;
  } 

  margin-bottom: 1.25rem;
  color: $color-1;

	@include MQ(M) {
		font-size: 5rem;
	}
}

h3 {
	font: {
  	size: 1.8rem;
  	weight: 700;
  	family: $secondary-font;
  	style: normal;
  } 

  margin-bottom: 1.25rem;
  color: $color-1;
}

h4{
  font: {
  	size: 1.5em;
  	weight: 400;
  	family: $primary-font;
  }
  letter-spacing: 10px;
  color:$color-3;
  
}

h5{
  font: {
  	size: 1.4rem; 
  	family: $primary-font;
  	weight: 300;
  }
  color: $color-4;

}

h6{
  font: {
  	size: 1.2rem; 
  	family: $primary-font;
  	weight: 300;
  }
  color: $color-4;

}

p {
	line-height: 3.5rem;
    word-wrap: break-word;
    text-align: justify;
}

/* -------------------------------- 

Main Content

-------------------------------- */



.cd-main-content {
	position: relative;
	z-index: 20;
	/* vertically align its content */
	display: flex;
    flex-direction: column;
	background-color: $white;
	overflow: hidden;
	height:100%;
	justify-content: center;
    align-self: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    
}


/* -------------------------------- 

Modal window 

-------------------------------- */

.cd-modal1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: $color-4 url(../img/modal-bg1.jpg) no-repeat center center;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .3s 0s, visibility 0s .3s);

	.modal-content {
		height: 100%;
		overflow-y: auto;
		padding: 3em 5%;
		color: $white;
		@include font-smoothing;
	}

	h1 {
		text-align: center;

		&::after {
			/* ink/brush separation */
			content: '';
			display: block;
			width: 130px;
			height: 18px;
			background: url(../img/ink-separation.svg) no-repeat center center;
			margin: .2em auto 0;
		}
	}

	p {
		line-height: 1.6;
		margin: 2em auto;
		max-width: 800px;
	}

	.modal-close {
		/* 'X' icon */
		position: absolute;
		z-index: 1;
		top: 20px;
		right: 5%;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background: rgba(#000, .3) url(../img/cd-icon-close.svg) no-repeat center center;
		
		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		
		visibility: hidden;
		opacity: 0;
		@include transform(scale(0));
		@include transition(transform .3s 0s, visibility 0s .3s, opacity .3s 0s);

		.no-touch &:hover {
			background-color: rgba(#000, .5);
		}
	}

	&.visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .7s, visibility 0s);

		.modal-content {
			/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
			-webkit-overflow-scrolling: touch;
		}

		.modal-close {
			visibility: visible;
			opacity: 1;
			@include transition(transform .3s 0s, visibility 0s 0s, opacity .3s 0s);
			@include transform(scale(1));
		}
	}

	@include MQ(L) {
		.modal-content {
			padding: 6em 5%;
		}

		.modal-close { 
			height: 60px;
			width: 60px;
		}

		p {
			font-size: 2rem;
		}
	}
}

.cd-modal2 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: $color-4 url(../img/modal-bg2.jpg) no-repeat center center;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .3s 0s, visibility 0s .3s);

	.modal-content {
		height: 100%;
		overflow-y: auto;
		padding: 3em 5%;
		color: $white;
		@include font-smoothing;
	}

	h1 {
		text-align: center;

		&::after {
			/* ink/brush separation */
			content: '';
			display: block;
			width: 130px;
			height: 18px;
			background: url(../img/ink-separation.svg) no-repeat center center;
			margin: .2em auto 0;
		}
	}

	p {
		line-height: 1.6;
		margin: 2em auto;
		max-width: 800px;
	}

	.modal-close {
		/* 'X' icon */
		position: absolute;
		z-index: 1;
		top: 20px;
		right: 5%;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background: rgba(#000, .3) url(../img/cd-icon-close.svg) no-repeat center center;
		
		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		
		visibility: hidden;
		opacity: 0;
		@include transform(scale(0));
		@include transition(transform .3s 0s, visibility 0s .3s, opacity .3s 0s);

		.no-touch &:hover {
			background-color: rgba(#000, .5);
		}
	}

	&.visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .7s, visibility 0s);

		.modal-content {
			/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
			-webkit-overflow-scrolling: touch;
		}

		.modal-close {
			visibility: visible;
			opacity: 1;
			@include transition(transform .3s 0s, visibility 0s 0s, opacity .3s 0s);
			@include transform(scale(1));
		}
	}

	@include MQ(L) {
		.modal-content {
			padding: 6em 5%;
		}

		.modal-close { 
			height: 60px;
			width: 60px;
		}

		p {
			font-size: 2rem;
		}
	}
}

.cd-modal3 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: $color-4 url(../img/modal-bg3.jpg) no-repeat center center;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .3s 0s, visibility 0s .3s);

	.modal-content {
		height: 100%;
		overflow-y: auto;
		padding: 3em 5%;
		color: $white;
		@include font-smoothing;
	}

	h1 {
		text-align: center;

		&::after {
			/* ink/brush separation */
			content: '';
			display: block;
			width: 130px;
			height: 18px;
			background: url(../img/ink-separation.svg) no-repeat center center;
			margin: .2em auto 0;
		}
	}

	p {
		line-height: 1.6;
		margin: 2em auto;
		max-width: 800px;
	}

	.modal-close {
		/* 'X' icon */
		position: absolute;
		z-index: 1;
		top: 20px;
		right: 5%;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background: rgba(#000, .3) url(../img/cd-icon-close.svg) no-repeat center center;
		
		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		
		visibility: hidden;
		opacity: 0;
		@include transform(scale(0));
		@include transition(transform .3s 0s, visibility 0s .3s, opacity .3s 0s);

		.no-touch &:hover {
			background-color: rgba(#000, .5);
		}
	}

	&.visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .7s, visibility 0s);

		.modal-content {
			/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
			-webkit-overflow-scrolling: touch;
		}

		.modal-close {
			visibility: visible;
			opacity: 1;
			@include transition(transform .3s 0s, visibility 0s 0s, opacity .3s 0s);
			@include transform(scale(1));
		}
	}

	@include MQ(L) {
		.modal-content {
			padding: 6em 5%;
		}

		.modal-close { 
			height: 60px;
			width: 60px;
		}

		p {
			font-size: 2rem;
		}
	}
}

.cd-modal4 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: $color-4 url(../img/modal-bg4.jpg) no-repeat center center;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .3s 0s, visibility 0s .3s);

	.modal-content {
		height: 100%;
		overflow-y: auto;
		padding: 3em 5%;
		color: $white;
		@include font-smoothing;
	}

	h1 {
		text-align: center;

		&::after {
			/* ink/brush separation */
			content: '';
			display: block;
			width: 130px;
			height: 18px;
			background: url(../img/ink-separation.svg) no-repeat center center;
			margin: .2em auto 0;
		}
	}

	p {
		line-height: 1.6;
		margin: 2em auto;
		max-width: 800px;
	}

	.modal-close {
		/* 'X' icon */
		position: absolute;
		z-index: 1;
		top: 20px;
		right: 5%;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background: rgba(#000, .3) url(../img/cd-icon-close.svg) no-repeat center center;
		
		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		
		visibility: hidden;
		opacity: 0;
		@include transform(scale(0));
		@include transition(transform .3s 0s, visibility 0s .3s, opacity .3s 0s);

		.no-touch &:hover {
			background-color: rgba(#000, .5);
		}
	}

	&.visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .7s, visibility 0s);

		.modal-content {
			/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
			-webkit-overflow-scrolling: touch;
		}

		.modal-close {
			visibility: visible;
			opacity: 1;
			@include transition(transform .3s 0s, visibility 0s 0s, opacity .3s 0s);
			@include transform(scale(1));
		}
	}

	@include MQ(L) {
		.modal-content {
			padding: 6em 5%;
		}

		.modal-close { 
			height: 60px;
			width: 60px;
		}

		p {
			font-size: 2rem;
		}
	}
}

.cd-modal5 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: $color-4 url(../img/modal-bg2.jpg) no-repeat center center;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .3s 0s, visibility 0s .3s);

	.modal-content {
		height: 100%;
		overflow-y: auto;
		padding: 3em 5%;
		color: $white;
		@include font-smoothing;
	}

	h1 {
		text-align: center;

		&::after {
			/* ink/brush separation */
			content: '';
			display: block;
			width: 130px;
			height: 18px;
			background: url(../img/ink-separation.svg) no-repeat center center;
			margin: .2em auto 0;
		}
	}

	p {
		line-height: 1.6;
		margin: 2em auto;
		max-width: 800px;
	}

	.modal-close {
		/* 'X' icon */
		position: absolute;
		z-index: 1;
		top: 20px;
		right: 5%;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background: rgba(#000, .3) url(../img/cd-icon-close.svg) no-repeat center center;
		
		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		
		visibility: hidden;
		opacity: 0;
		@include transform(scale(0));
		@include transition(transform .3s 0s, visibility 0s .3s, opacity .3s 0s);

		.no-touch &:hover {
			background-color: rgba(#000, .5);
		}
	}

	&.visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .7s, visibility 0s);

		.modal-content {
			/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
			-webkit-overflow-scrolling: touch;
		}

		.modal-close {
			visibility: visible;
			opacity: 1;
			@include transition(transform .3s 0s, visibility 0s 0s, opacity .3s 0s);
			@include transform(scale(1));
		}
	}

	@include MQ(L) {
		.modal-content {
			padding: 6em 5%;
		}

		.modal-close { 
			height: 60px;
			width: 60px;
		}

		p {
			font-size: 2rem;
		}
	}
}

/* -------------------------------- 

Bottom

-------------------------------- */


.bottom{
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
	background: $white;
	position: relative;
	z-index: 12;
}

.headline{
	order: 1;
	display: flex;
	flex: 1;
	max-height: 150px;
    /*@include linearGradient(45deg, #f2f2f2,#dddddd);*/
    justify-content: flex-end;
	align-items: center;
	padding: 5rem;

    h2{
    	font: {
			size: 17rem;
			weight: 700;
		}
    	text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
    	opacity: 0.25;
    	color:$white;
    	position: relative;
    	right: 0px;
    	bottom: -41px;
   		z-index: 7;
    }

}

.flex-box{
	display: flex;
	flex-flow: row wrap;
    min-height:auto;
    align-items: stretch;
    order: 2;
    z-index: 5;

}

.contact, .about {
	display: flex;
	align-items: stretch;
	flex: 1 350px;
    padding: 5%;
}


.contact{
	order: 1;
    @include linearGradient(45deg,$color-2, $color-1);
    color:#fff;


    & .bottom-content{
		width:100%;
	}
}


.about{
	order: 2;
	@include linearGradient(85deg, #f4f4f4, #fff);

	h3{
		  margin-top: 3.5rem;
	}

	.bold{
		font-weight: 700;
	}
}




/* -------------------------------- 

Transition Layer 

-------------------------------- */

.cd-transition-layer1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */ 
		width: 2500%;
		background: url(../img/ink1.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

.cd-transition-layer2 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */ 
		width: 2500%;
		background: url(../img/ink2.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

.cd-transition-layer3 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */ 
		width: 2500%;
		background: url(../img/ink3.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

.cd-transition-layer4 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */ 
		width: 2500%;
		background: url(../img/ink4.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

.cd-transition-layer5 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	.bg-layer {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%) translateX(-2%));
		/* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
		height: 100%;
		/* our sprite is composed of 25 frames */ 
		width: 2500%;
		background: url(../img/ink2.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}

	&.opening .bg-layer {
		@include animation(cd-sequence .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	&.closing .bg-layer {
		@include animation(cd-sequence-reverse .8s steps(24));
		@include animation-fill-mode(forwards);
	}

	.no-cssanimations & {
		display: none;
	}
}

@include keyframes(cd-sequence) {
	0% {
		/* translateX(-2%) is used to horizontally center the first frame inside the viewport */
		@include transform(translateY(-50%) translateX(-2%));
	}
	100% {
		/* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
   		@include transform(translateY(-50%) translateX(-98%));
	}
}

@include keyframes(cd-sequence-reverse) {
	0% {
		@include transform(translateY(-50%) translateX(-98%));
	}
	100% {
   		@include transform(translateY(-50%) translateX(-2%));
	}
}

/* ---------------------------------------------------------------- 

								Form

---------------------------------------------------------------- */

/* -------------------------------- 

Form

-------------------------------- */

.cd-form {
	
	width: 100%;

	fieldset {

	}

	legend {
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-size: 2rem;
		border-bottom: 1px solid $color-3;
		text-align: center;
		line-height: 4.5rem;
		font-weight: 700;
	}

	div {
		/* form element wrapper */
		position: relative;
		margin: 20px 0;
	}

	h4, .cd-label {
		font-size: 1.3rem;
		color: $white;
		margin-bottom: 10px;
	}

	.cd-label {
		display: block;
	}

	input, textarea, select, label {
		font-family: $primary-font;
		font-size: 1.6rem;
		color: $white;
	}

	input[type="text"], 
	input[type="email"], 
	textarea, 
	select,
	legend {
		display: block;
		width: 100%;
		@include appearance(none);
	}

	input[type="text"], 
	input[type="email"], 
	textarea, 
	select {
		/* general style for input elements */
		padding: 12px;
		border: 1px solid darken($white, 50%);
		background-color: $color-4;
		border-radius: .25em;
		box-shadow: inset 0 1px 6px rgba(#000, .3);
		@include transition(all .6s);

		&:focus {
			outline: none;
			border-color: $white;
			box-shadow: 0 0 5px rgba($color-2, .2);
		}
	}

	.cd-select {
		/* select element wapper */
		position: relative;

		&::after {
			/* arrow icon for select element */
			content: '';
			position: absolute;
			z-index: 1;
			right: 16px;
			top: 50%;
			margin-top: -8px;

			display: block;
			width: 16px;
			height: 16px;

			background: url('../img/cd-icon-arrow.svg') no-repeat center center;
			pointer-events: none;
		}
	}

	select {
		box-shadow: 0 1px 3px rgba(#000, .08);
		cursor: pointer;
	}

	select::-ms-expand {
		display: none;
	}

	.cd-form-list {
		margin-top: 16px;
		@include clearfix;
	}

	.cd-form-list li {
		/* wrapper for radio and checkbox input types */
		display: inline-block;
		position: relative;
		@include user-select(none);
		margin: 0 26px 16px 0;
		float: left;
	}

	input[type=radio],
	input[type=checkbox] {
		/* hide original check and radio buttons */
		position: absolute;
		left: 0;
		top: 50%;
		@include transform(translateY(-50%));
		margin: 0;
		padding: 0;
		opacity: 0;
		z-index: 2;
	}

	input[type="radio"] + label, 
	input[type="checkbox"] + label {
		padding-left: 24px;
	}

	input[type="radio"] + label::before,
	input[type="radio"] + label::after,
	input[type="checkbox"] + label::before,
	input[type="checkbox"] + label::after {
		/* custom radio and check boxes */
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -8px;
		width: 16px;
		height: 16px;
	}

	input[type="radio"] + label::before,
	input[type="checkbox"] + label::before {
		border: 1px solid darken($white, 50%);
		background: $color-4;
		box-shadow: inset 0 1px 1px rgba(#000, .08);
	}

	input[type="radio"] + label::before,
	input[type="radio"] + label::after {
		border-radius: 50%;
	}

	input[type="checkbox"] + label::before,
	input[type="checkbox"] + label::after {
		border-radius: .25em;
	}

	input[type="radio"] + label::after,
	input[type="checkbox"] + label::after {
		background-color: $color-2;
		background-position: center center;
		background-repeat: no-repeat;
		box-shadow: 0 0 5px rgba($color-2, .4);
		display: none;
	}

	input[type="radio"] + label::after {
		/* custom image for radio button */
		background-image: url('../img/cd-icon-radio.svg');
	}

	input[type="checkbox"] + label::after {
		/* custom image for checkbox */
		background-image: url('../img/cd-icon-check.svg');
	}

	input[type="radio"]:focus + label::before,
	input[type="checkbox"]:focus + label::before {
		/* add focus effect for radio and check buttons */
		box-shadow: 0 0 5px rgba($color-2, .6);
	}

	input[type="radio"]:checked + label::after,
	input[type="checkbox"]:checked + label::after {
		display: block;
	}

	input[type="radio"]:checked + label::before,
	input[type="radio"]:checked + label::after,
	input[type="checkbox"]:checked + label::before,
	input[type="checkbox"]:checked + label::after {
		@include animation(cd-bounce .3s);
	}

	textarea {
		min-height: 150px;
		resize: vertical;
		overflow: auto;
	}

	input[type="submit"] {
		/* button style */
		border: none;
		background: $color-2;
		border-radius: .25em;
		padding: 16px 20px;
		color: $color-4;
		font-weight: bold;
		float: right;
		cursor: pointer;
		@include font-smoothing;
		@include appearance(none);

		.no-touch &:hover {
			background: lighten($color-2, 5%);
		}

		&:focus {
			outline: none;
			background: $color-1;
		}

		&:active {
			@include transform(scale(.9));
		}
	}

	[required] {
		background: url('../img/cd-required.svg') no-repeat top right;
	}

	.error-message p {
		background: $white;
		color: $color-4;
		font-size: 1.4rem;
		text-align: center;
		@include font-smoothing;
		border-radius: .25em;
		padding: 16px;
	}

	.error {
		border-color: $white !important;
	}

	@include MQ(M) {
		div {
			/* form element wrapper */
			margin: 32px 0;
		}

			legend + div {
			/* reduce margin-top for first form element after the legend */
			margin-top: 20px;
		}

		h4, .cd-label {
			font-size: 1.4rem;
			margin-bottom: 10px;
		}

		input[type="text"], 
		input[type="email"], 
		textarea, 
		select {
			padding: 16px;
		}
	}
}

@include keyframes(cd-bounce) {
	0%, 100% {
		@include transform(scale(1));
	}

	50% {
		@include transform(scale(.8));
	}
}

/* -------------------------------- 

Custom icons

-------------------------------- */

.cd-form {
	.icon input, .icon select, .icon textarea {
		padding-left: 54px !important;
	}

	.user {
		background: url('../img/cd-icon-user.svg') no-repeat 16px center;
	}

	[required].user {
		background: url('../img/cd-icon-user.svg') no-repeat 16px center, 
					url('../img/cd-required.svg') no-repeat top right;
	}

	.company {
		background: url('../img/cd-icon-company.svg') no-repeat 16px center;
	}

	[required].company {
		background: url('../img/cd-icon-company.svg') no-repeat 16px center, 
					url('../img/cd-required.svg') no-repeat top right;
	}

	.email {
		background: url('../img/cd-icon-email.svg') no-repeat 16px center;
	}

	[required].email {
		background: url('../img/cd-icon-email.svg') no-repeat 16px center, 
					url('../img/cd-required.svg') no-repeat top right;
	}

	.budget {
		background: url('../img/cd-icon-budget.svg') no-repeat 16px center;
	}

	.message {
		background: url('../img/cd-icon-message.svg') no-repeat 16px 16px;
	}

	[required].message {
		background: url('../img/cd-icon-message.svg') no-repeat 16px 16px, 
					url('../img/cd-required.svg') no-repeat top right;
	}
}

/* -------------------------------- 

FLoating labels 

-------------------------------- */

.js .floating-labels {
	div {
		margin: 0 0 20px 0;
	}

	.cd-label {
		position: absolute;
		top: 16px;
		left: 16px;
		font-size: 1.6rem;
		cursor: text;
		@include transition(top .2s, left .2s, font-size .2s);
	}

	.icon .cd-label {
		left: 56px;
	}

	.cd-label.float {
		/* move label out the input field */
		font-size: 1.2rem;
		top: -16px;
		left: 0 !important;
	}

	@include MQ(M) {

		legend + div {
			/* reduce margin-top for first form element after the legend */
			margin-top: 16px;
		}

		.cd-label {
			top: 20px;
		}
	}
}





