// colors

$color-1: #780001; // light red
$color-2: #1e0001; // dark red
$color-3: #6a6a6a; // Dark Grey
$color-4: #bfbfbf; // Light Grey
$white: #FFFFFF; // White
$black: #000000; // Black

$secondarycolor-1: #52BDF2; // light blue
$secondarycolor-2: #00416D; // dark blue

// fonts 

$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Mukta Vaani', sans-serif;