// colors

$color-1: #780001; // light red
$color-2: #1e0001; // dark red
$color-3: #6a6a6a; // Dark Grey
$color-4: #bfbfbf; // Light Grey
$white: #FFFFFF; // White

// fonts 

$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Arima Madurai', serif;